body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
}

nav{
    margin-top:0px;
    background-color: rgb(35,31,32);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-areas: 'tytuł img cos  cos cos cos opis regulamin zdjecia kontakt';
        
    h1{
    align-self: center;
    color:white;
    grid-area: tytuł;
    margin-left:50px;
    font-size: 50px;
    text-shadow: 3px 6px 9px rgb(114, 114, 114);
    }
    img{
        grid-area: img;
    }
}
.regulamin{
    display:flex;
    flex-direction: column;
    h2{
        align-self: center;
        display:flex;
        justify-content: center;
    }
    .info{
        color:white;
        display:flex;
        align-self: center;
        justify-content: center;
        box-shadow: 5px 7px 9px 9px rgb(66, 65, 65);
        height:600px;
        width:900px;
        background-color: rgb(35,31,32);
    }
}
